<%= javascript_include_tag "livevalidation" %>
<h1>Formularz kontaktowy</h1>
<% form_tag send_contact_form_path do %>
  <%= label_tag :sender, "Twój email" %><br />
  <%= text_field_tag :sender, params[:sender], :size => 50 %><br />
  <%= label_tag :title, "Temat" %><br />
  <%= text_field_tag :title, params[:title].present? ? params[:title] : "Pytanie o cenę #{params[:product]}", :size => 60 %><br />
  <%= label_tag :message, "Wiadomość" %><br />
  <%= text_area_tag :message, params[:message], {:cols => 60, :rows => 7} %><br />
  <%= recaptcha_tags(:display => {:lang => 'pl', :theme => 'white', :custom_translations => {
                        :instructions_visual => "Wpisz powyższe słowa:",
                        :instructions_audio => "Wpisz usłyszane cyfry:",
                        :play_again => "Odtwórz ponownie",
                        :cant_hear_this => "Pobierz utwór w formacie MP3",
                        :visual_challenge => "Tryb wizualny",
                        :audio_challenge => "Tryb audio",
                        :refresh_btn => "Pobierz nowe słowa",
                        :help_btn => "Pomoc",
                        :incorrect_try_again => "Tekst nieprawidłowy. spróbuj ponownie.",
                }}) %>
  <%= submit_tag "Wyślij" %>
  <%= flash[:info] %>
<% end %>
<script>
  new LiveValidation('sender', {validMessage: " ", onlyOnSubmit: true}).add(Validate.Presence, {failureMessage: "Pole wymagane."}).add(Validate.Email, {failureMessage: "Podaj poprawny adres email."});
  new LiveValidation('title', {validMessage: " ", onlyOnSubmit: true}).add(Validate.Presence, {failureMessage: "Pole wymagane."});
  new LiveValidation('message', {validMessage: " ", onlyOnSubmit: true}).add(Validate.Presence, {failureMessage: "Pole wymagane."});
</script>
